.meldingHolder {
	background: #19D895;
	color: #fff;
	border: 1px solid transparent;
    padding: 0.4rem 1rem;
	border-radius: 0.1875rem;
	/* width: 500px;
	margin-left: calc(50% - 250px);
	margin-top: 10px; */
}
.meldingInfo {
	background: #2196F3;
}
.meldingWarning {
	background: #FF6258;
}
.openChat {
	cursor: pointer;
}

.profile-avatar__img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-avatar__img.no-image span{
	display: block;
}

.profile-avatar__img span{
	display: none;
}

.chat-room-offical-icon{
	width: 15px;
	margin-left: 5px;
}

.chat-room-name{
	display: flex;
	align-items: center;
}

.chat-room-name span{
	max-width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-members{
	padding-left: 20px;
}

.chat-app-wrapper .chat-list-wrapper .chat-list-item-wrapper .list-item{
	display: flex !important;
}

.list-item-right{
	position: relative;
	flex-grow: 1;
}

.chat-app-wrapper .chat-list-wrapper .chat-list-item-wrapper .list-item .chat-time{
	position: absolute;
	right: 0px;
	top: 0px;
}

.chat-bubble{
	display: flex;
}

.chat-user__img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.chat-bubble-right{
	flex-grow: 1;
	margin-left: 10px;
}

.chat-bubble-right .chat-message{
	margin-left: 0px !important;
}

.chat-user__email{
	font-weight: bold;
}

.user-group__title{
	font-weight: bold;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.user-member-wrap p{
	margin-bottom: 0px;
}

.user-member-wrap{
	margin-bottom: 20px;
}